solutionItems/Debug/
solutionItems/.vs/GraAI/v14/.suo
solutionItems/GraAI.VC.VC.opendb
solutionItems/GraAI.VC.db
solutionItems/GraAI_tests/Debug/
solutionItems/GraAI_tests/Release/
solutionItems/Release/
solutionItems/ipch/
